parameters:
    level: max

    paths:
        - classes/
        - src/
        - tests/
    scanDirectories:
        - ./../../../../../../../Services
        - ./../../../../../../../src
        - ./../../../../../../../libs/composer/vendor