<!-- BEGIN source_code -->
<div class="co-source-code-container">
    <table class="hljs">
        <tbody>
        <!-- BEGIN source_code_row -->
        <tr>
            <td id="L{NUMBER}" class="hljs" data-line-number="{NUMBER}"></td>
            <td id="LC{NUMBER}" class="co-source-code-row">
                <pre><code class="hljs {LANGUAGE}">{ROW}</code></pre>
            </td>
        </tr>
        <!-- END source_code_row -->
        </tbody>
    </table>
    <em class="small">{DESCRIPTION}</em>
</div>
<!-- END source_code -->
